@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.game-card summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.active-link a {
  @apply text-white_primary;
}

input[type="checkbox"]:checked+label {
  @apply bg-white/[.15] text-white_primary;
}

input[type="checkbox"]:focus+label {
  @apply text-white_primary;
}
