.main-list {
  display: flex;
  /* position: relative; */
}

/* .main-list li { */
/*   position: relative; */
/*   flex-shrink: 0; */
/*   width: 100%; */
/*   height: 100%; */
/* } */
.main-list li {
  @apply sm:absolute sm:inset-0 sm:opacity-0;
  /* position: absolute; */
  /* inset: 0; */
  /* opacity: 0; */
}

/* .main-list li > img { */
/*   width: 100%; */
/*   height: 100%; */
/*   object-fit: cover; */
/*   position: absolute; */
/*   inset: 0; */
/* } */

.main-list li:nth-child(1) {
  @apply sm:opacity-100;
  animation-play-state: paused;
}

.main-list li.not-active {
  animation: 300ms cubic-bezier(0.69, 0, 0.83, 0.83) 0s 1 normal forwards
    running hero-carousel-item-go-out;
  @apply sm:opacity-0;
  /* opacity: 0; */
}
.main-list li.active {
  animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 200ms 1 normal forwards
    running hero-carousel-item-go-in;
  @apply sm:opacity-0;
  /* opacity: 0; */
}

.main-list li.active .main-item-cover .logo {
  @apply sm:opacity-0;
  /* opacity: 0; */
  animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 300ms 1 normal forwards
    running hero-carousel-item-go-in;
}

/* .stack-fade-carousel.main-list li.active .main-item-cover img { */
/*   opacity: 0; */
/*   animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 200ms 1 normal forwards */
/*     running hero-carousel-item-go-in; */
/* } */

@keyframes hero-carousel-item-go-in {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-carousel-item-go-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
  }
}

.hero-carousel-preview-item div {
  transition: background 200ms;
}

.hero-carousel-preview-item::after {
  width: 0;
  opacity: 0;
  transition: opacity 200ms;
}

.hero-carousel-preview-item.active div {
  @apply bg-paper_2;
  transition: background 200ms 500ms;
}

.hero-carousel-preview-item.active::after {
  opacity: 1;
  animation: expand-width 10s linear forwards;
  transition: opacity 200ms 500ms;
}

.hero-carousel-preview-item.active > div > div {
  animation: 500ms scale-up-down 200ms linear;
  @apply bg-paper_2;
}

.hero-carousel-preview-item div:focus {
  @apply bg-paper_2;
}

.hero-carousel-preview-item > * {
  position: relative;
}

.hero-carousel-preview-item.pointer-none > div {
  pointer-events: none;
}

.main-item-cover {
  background-image: linear-gradient(
    65deg,
    #0b0b0bcc 8% 8%,
    #0b0b0b66 39% 39%,
    #0b0b0b00 65% 65%
  );
}
